<div class="container" *ngIf="photos!=undefined" style="padding:0">
  <div class="row masonry-grid">
    <div class="col-md-6 col-lg-4 masonry-column">
      <div class="border">
        <a [href]="photos[0]" class="thumbnail" target="_blank"><img [src]="photos[0]" class="img-fluid"></a>
      </div>
      <div class="border">
        <a [href]="photos[1]" class="thumbnail" target="_blank"><img [src]="photos[1]" class="img-fluid"></a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 masonry-column">
      <div class="border">
        <a [href]="photos[2]" class="thumbnail" target="_blank"><img [src]="photos[2]" class="img-fluid"></a>
      </div>
      <div class="border">
        <a [href]="photos[3]" class="thumbnail" target="_blank"><img [src]="photos[3]" class="img-fluid"></a>
      </div>
      <div class="border">
        <a [href]="photos[4]" class="thumbnail" target="_blank"><img [src]="photos[4]" class="img-fluid"></a>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 masonry-column">
      <div class="border">
        <a [href]="photos[5]" class="thumbnail" target="_blank"><img [src]="photos[5]" class="img-fluid"></a>
      </div>
      <div class="border">
        <a [href]="photos[6]" class="thumbnail" target="_blank"><img [src]="photos[6]" class="img-fluid"></a>
      </div>
      <div class="border">
        <a [href]="photos[7]" class="thumbnail" target="_blank"><img [src]="photos[7]" class="img-fluid"></a>
      </div>
    </div>
  </div>
</div>